extends layout

block content
  .container
    .row
      .col-12
        h2
          strong #{resume.filename}
        p
          img(src='https://profiles.csh.rit.edu/image/' + resume.author, class='profile')
          strong #{resume.author} 
          | posted this 
          | #{moment(resume.date + ' +0000').fromNow()}.
        if canEdit(user.preferred_username, resume.author)
          a(href="/resumes/delete/" + resume.id, class='btn btn-danger deleteResume') Delete this file
        iframe(src=url, class="preview")
      .col-12
        include comments.pug
      .col-12
        form
          input(name='parent_id', type='text', value=resume.id, readonly, hidden)
          input(id="comment-input" name='body', type='text', placeholder='New comment')
          input(type='button', value='Post', onclick="sendComment(event)", class='btn btn-primary')

block footer
  script(src='/javascripts/view.js')
