extends layout

block content
  iframe(src=url, class="preview")
  p
  | filename: #{resume.filename}
  br
  | id: #{resume.id}
  br
  | author: #{resume.author}
  br
  | date: #{resume.date}
  br
  if isOwner
    a(href="/resumes/delete/" + resume.id) Delete
